.modal{
	background-color: #FFF;
	z-index: 9999999999999;
	position: absolute;
	width: 30%;
	top: 100px;
}

.modal
.modal-content{

}

.modal
.modal-content
.modal-head{

}

.modal
.modal-content
.modal-head
.modal-body{

}

.modal
.modal-content
.modal-head
.modal-body
.modal-footer{

}

.overlay{
	background-color: rgba(0,0,0,.8);
	z-index: 9999999999999999;
}